### Pandas-DataFrame AND Series
Pandas is a poweful data  manupulation library in Python, widely used for data analysis and data cleaning. It provides two primary data structure: Series and DataFrame.A Series is a one-dimension array-like object, while a DataFrame is two dimensional, size mutable, and potentially heterogeneous tabular data structure with labeled axes(row and colums).

In [12]:
import pandas as pd
data=[1,2,3,4,5]
series=pd.Series(data)
print("Series \n",series) # first one is the index and second column is data "it have defalut index when using list"

Series
 0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
#Create a Series using dictionary
data={"a":1,"b":2,"c":4}
series_dict=pd.Series(data)
print(series_dict)

a    1
b    2
c    4
dtype: int64

In [5]:
data=[10,20,30]
ind={'a','b','c'}
pd.Series(data,index=ind)

b    10
c    20
a    30
dtype: int64

In [8]:
#DataFrame(It can have multiple row and columns)

#Create a dataframe from a dictionary of list

data={
    'Name':['Krish','John','Jack'],
    'Age' :[25,30,45],
    'City' :['Bangalore',"New York",'Florida']
}

df=pd.DataFrame(data)
print(df)

    Name  Age       City
0  Krish   25  Bangalore
1   John   30   New York
2   Jack   45    Florida

In [13]:
df=pd.read_csv('sales.csv')

pd.DataFrame(df)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [14]:
df.head(3)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75

In [17]:
df['Region']

0                 Australia and Oceania
1     Central America and the Caribbean
2                                Europe
3                    Sub-Saharan Africa
4                    Sub-Saharan Africa
                    ...
95                   Sub-Saharan Africa
96                                 Asia
97                   Sub-Saharan Africa
98                        North America
99                   Sub-Saharan Africa
Name: Region, Length: 100, dtype: object

In [15]:
df.at[1,'Country']

'Grenada'

In [ ]:
df.loc[0]  #show the result of 0th row

Region            Australia and Oceania
Country                          Tuvalu
Item Type                     Baby Food
Sales Channel                   Offline
Order Priority                        H
Order Date                    5/28/2010
Order ID                      669165933
Ship Date                     6/27/2010
Units Sold                         9925
Unit Price                       255.28
Unit Cost                        159.42
Total Revenue                 2533654.0
Total Cost                    1582243.5
Total Profit                   951410.5
Name: 0, dtype: object

In [ ]:
df.iloc[1][2] # show the column data

/tmp/ipykernel_67848/65333983.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[1][2]

'Cereal'

In [19]:
#Accessing the element using iat
df.iat[1,3]

'Online'