### SQL And SQLite
SQL(Structured Query Language) is a standard language for managing and manipulation realtion databases.
SQLite is a self-contained, serverless, and zero-configuration databases engine that is widely used for embeded
database systems.

In [1]:
import sqlite3

In [4]:
## Connect to an SQLite database
connection=sqlite3.connect('example.db') #Creating a connection and also create a example.db file
connection

In [5]:
#Creating a cursor so it can iterate through all the table like rows and columns
cursor=connection.cursor()

In [7]:
cursor.execute(
    '''
Create Table If Not Exists employees(
id Integer Primary Key,
name text Not Null,
age Integer,
department text
)
'''
)


## Commit  the changes
connection.commit()

In [9]:
cursor.execute(
    '''
Select * from employees
'''
)

In [10]:
#Insert the data in sqlite
cursor.execute(
    ''' 
insert into employees(name,age,department) values('Lalit',32,'Java')
'''
)
cursor.execute(
    ''' 
insert into employees(name,age,department) values('Rahul',24,'Python')
'''
)
cursor.execute(
    ''' 
insert into employees(name,age,department) values('Saurav',28,'JS')
'''
)

connection.commit()

In [14]:
cursor.execute(
    '''
Select * from employees
'''
)
rows = cursor.fetchall() # it will fetch all the data on the basis of query

for row in rows:
    print(row)

(1, 'Lalit', 32, 'Java')
(2, 'Rahul', 24, 'Python')
(3, 'Saurav', 28, 'JS')

In [15]:
#Update the data in the table
cursor.execute(
    ''' update employees set age=50 where name="Saurav"'''
    
)
connection.commit()

In [16]:
cursor.execute(
    '''
Select * from employees
'''
)
rows = cursor.fetchall() # it will fetch all the data on the basis of query

for row in rows:
    print(row)

(1, 'Lalit', 32, 'Java')
(2, 'Rahul', 24, 'Python')
(3, 'Saurav', 50, 'JS')

In [17]:
#Delete the data from the table
cursor.execute(
    ''' delete from employees where name ="Saurav"'''
)
connection.commit()

In [18]:
cursor.execute(
    '''
Select * from employees
'''
)
rows = cursor.fetchall() # it will fetch all the data on the basis of query

for row in rows:
    print(row)

(1, 'Lalit', 32, 'Java')
(2, 'Rahul', 24, 'Python')

In [19]:
## Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [21]:
cursor.execute(
    '''
Select * from sales
'''
)
rows = cursor.fetchall() # it will fetch all the data on the basis of query

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')